/target
/classes
/checkouts
/test-projects
pom.xml
pom.xml.asc
*.jar
*.class
/.cljs-cache
/.cljs-repl
/.idea
/.lein-*
/.nrepl-port
/doc/codox
/client/js
/test-project/public/js
/tmp
/lib/js-closure
/lib/closure-library
out/
.DS_Store
