{:paths ["src/main"
         "src/repl"
         "src/dev"
         "target/classes"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/clojurescript {:mvn/version "1.10.520"}
  com.google.javascript/closure-compiler-unshaded {:mvn/version "v20190618"}
  org.clojure/google-closure-library {:mvn/version "0.0-20190213-2033d5d9"}
  org.clojure/data.json {:mvn/version "0.2.6"}
  org.clojure/core.async {:mvn/version "0.4.500"}
  nrepl/nrepl {:mvn/version "0.6.0"}
  org.clojure/tools.cli {:mvn/version "0.3.7"}

  com.cognitect/transit-clj {:mvn/version "0.8.313"}
  com.cognitect/transit-cljs {:mvn/version "0.8.256"}

  thheller/shadow-client {:mvn/version "1.3.2"}
  thheller/shadow-util {:mvn/version "0.7.0"}

  expound {:mvn/version "0.7.2"}
  hiccup {:mvn/version "1.0.5"}

  ring/ring-core {:mvn/version "1.7.1" :exclusions [clj-time]}
  hawk {:mvn/version "0.2.11"}

  io.undertow/undertow-core {:mvn/version "2.0.22.Final"}

  com.wsscode/pathom {:mvn/version "2.2.7"}
  org.clojure/test.check {:mvn/version "0.10.0-alpha3"}

  }}
