[{:id :browser
  :target :browser

  :public-dir "out/demo-browser/js"
  :public-path "/js"

  :module-loader true
  :modules
  {:base
   {:entries
    [cljs.core]
    :depends-on
    #{}}

   :demo
   {:entries
    [demo.browser]
    :depends-on
    #{:base}}

   :extra
   {:entries
    [demo.browser-extra]
    :depends-on
    #{:demo}}

   :worker
   {:entries
    [demo.worker]
    :depends-on #{:base}
    :web-worker true}}

  :devtools
  {:before-load demo.browser/stop
   :after-load demo.browser/start}}

 {:id :script
  :target :node-script
  :main demo.script/main
  :output-to "out/demo-script/script.js"

  :devtools
  {:before-load demo.script/stop
   :after-load demo.script/start}}

 {:id :library
  :target :node-library
  :output-to "out/demo-library/lib.js"
  :exports
  {:hello demo.lib/hello}}

 {:id :custom
  :target build/custom

  :public-dir "out/demo-browser/js"
  :public-path "/js"

  :modules
  {:demo {:entries [demo.browser]}}

  :devtools
  {:before-load demo.browser/stop
   :after-load demo.browser/start}}

 {:id :warnings
  :target :node-script
  :main demo.warnings/main
  :output-to "out/demo-warnings/script.js"}

 {:id :errors
  :target :node-script
  :main demo.errors/main
  :output-to "out/demo-errors/script.js"}

 {:id :foreign
  :target :browser
  :public-dir "out/demo-foreign/js"
  :public-path "/js"
  :compiler-options
  {:externs
   ["src/dev/demo/foreign-ext.js"]}
  :modules
  {:main {:entries [demo.foreign]}}}
 ]
