var x;
try {
    require('source-map-support').install();

    x = require("shadow-cljs/cli/lib");
} catch (e) {
    process.exit(2);
    // exceptions below cause exit(1)
}

// this goes async so can't try/catch
x.index(PWD, ENTRIES);
