;; credit for all of these goes to https://tailwindcss.com/
;; these are straight up copies, only adjusting names if they violate EDN naming rules in some way.
;; not going for completeness, some aliases IMHO are just better expressed as maps

;; default breakpoints
{:ui/sm "@media (min-width: 640px)"
 :ui/md "@media (min-width: 768px)"
 :ui/lg "@media (min-width: 1024px)"
 :ui/xl "@media (min-width: 1280px)"
 :ui/xxl "@media (min-width: 1536px)"

 ;; display
 :block {:display "block"}
 :hidden {:display "none"}
 :inline-block {:display "inline-block"}

 ;; margin
 :m-auto {:margin "auto"}
 :mx-auto {:magin-left "auto" :margin-right "auto"}
 :my-auto {:margin-top "auto" :margin-bottom "auto"}
 :mt-auto {:margin-top "auto"}
 :mb-auto {:margin-bottom "auto"}
 :ml-auto {:margin-left "auto"}
 :mr-auto {:margin-right "auto"}

 ;; flexbox
 :flex {:display "flex"}
 :flex-inline {:display "flex-inline"}

 ;; flex
 :flex-1 {:flex "1 1 0%"}
 :flex-auto {:flex "1 1 auto"}
 :flex-initial {:flex "0 1 auto"}
 :flex-none {:flex "none"}

 ;; flex direction
 :flex-row {:flex-direction "row"}
 :flex-row-reverse {:flex-direction "row-reverse"}
 :flex-col {:flex-direction "column"}
 :flex-col-reverse {:flex-direction "column-reverse"}

 ;; flex wrap
 :flex-wrap {:flex-wrap "wrap"}
 :flex-wrap-reverse {:flex-wrap "wrap-reverse"}
 :flex-nowrap {:flex-wrap "nowrap"}

 ;; font weight
 :font-thin {:font-weight "100"}
 :font-extralight {:font-weight "200"}
 :font-light {:font-weight "300"}
 :font-normal {:font-weight "400"}
 :font-medium {:font-weight "500"}
 :font-semibold {:font-weight "600"}
 :font-bold {:font-weight "700"}
 :font-extrabold {:font-weight "800"}
 :font-black {:font-weight "900"}

 ;; font size
 :text-xs {:font-size "0.75rem" :line-height "1rem"}
 :text-sm {:font-size "0.875rem" :line-height "1.25rem"}
 :text-base {:font-size "1rem" :line-height "1.5rem"}
 :text-lg {:font-size "1.125rem" :line-height "1.75rem"}
 :text-xl {:font-size "1.25rem" :line-height "1.75rem"}
 :text-2xl {:font-size "1.5rem" :line-height "2rem"}
 :text-3xl {:font-size "1.875rem" :line-height "2.25rem"}
 :text-4xl {:font-size "2.25rem" :line-height "2.5rem"}
 :text-5xl {:font-size "3rem" :line-height "1"}
 :text-6xl {:font-size "3.75rem" :line-height "1"}
 :text-7xl {:font-size "4.5rem" :line-height "1"}
 :text-8xl {:font-size "6rem" :line-height "1"}
 :text-9xl {:font-size "8rem" :line-height "1"}
 }