;; shadow-cljs configuration
{:source-paths
 ["src/main"]

 :log
 {:level :debug}

 :jvm-opts ["-Dclojure.main.report=out"]

 :dependencies
 [[reagent "0.8.1"]
  [funcool/bide "1.6.0"]
  [com.andrewmcveigh/cljs-time "0.5.2"]
  ;; [re-frame "0.10.5"]
  ;; [fulcrologic/fulcro "2.6.0-RC6"]
  ]

 :builds
 {:reagent
  {:target :browser
   :output-dir "out/reagent"
   :modules {:main {:init-fn test.reagent/init}}}

  :test-node
  {:target :node-test
   :output-to "out/test-node/script.js"
   :compiler-options {:infer-externs :auto}}

  :test-karma
  {:target :karma
   :output-to  "out/test-karma/script.js"
   :compiler-options {:source-map true}}
  }}
