;; shadow-cljs configuration
{:source-paths
 ["src/main"]

 :log
 {:level :debug}

 :dependencies
 [[reagent "0.8.1"]
  ;; [re-frame "0.10.5"]
  ;; [fulcrologic/fulcro "2.6.0-RC6"]
  ]

 :launcher-override
 "launcher.jar"

 :builds
 {:reagent
  {:target :browser
   :output-dir "out/reagent"
   :modules {:main {:init-fn test.reagent/init}}}

  :test-node
  {:target :node-test
   :output-to "out/test-node/script.js"
   :compiler-options {:infer-externs :auto}}
  }}
